:root,
[data-selected-theme="612"] {
  --color-background: #9999cc; /* body background */
  --menu-background:#ccccff; /* menu item background */
  --menu-shadow:#666699; /* menu border and drop shadow*/

  --menu-text:#000033;
  --menu-hover:#cc3399; /* menu item background on hover */
  --menu-text-hover:#330033;

  --dark-accent:#330033;
}

[data-selected-theme="216"] {
  --color-background: #99cccc;
  --menu-background:#ffffcc;
  --menu-shadow:#336666;  

  --menu-text:#003333;
  --menu-hover:#66cccc;
  --menu-text-hover:#006666;

  --dark-accent:#006666;
}

body {
  background: var(--color-background);
  background-image: url("../assets/images/style/background.png");
  background-blend-mode: luminosity;
}

.theme-switcher {
  display: block;
}

.menu-button {
  background:var(--menu-background) url("../assets/images/style/tinybird.gif") no-repeat left bottom;
  box-shadow: 0 4px 4px -2px var(--menu-shadow);
}

ul.menu {
  background:var(--menu-shadow);
  box-shadow: 0 3px 4px -2px var(--menu-shadow);
}

ul.menu li {
  background: var(--menu-background);
}

ul.menu li:first-child{
    background:var(--menu-background) url("../assets/images/style/tinybird.gif") no-repeat left bottom;
  }

li a {
  color: var(--menu-text);
}

li a:hover {
  background: var(--menu-hover);
  color: var(--menu-text-hover);
}

ul.menu li:first-child a:hover {
    background: var(--menu-hover) url("../assets/images/style/tinybird.gif") no-repeat left bottom;
  }

/* div.content {
  border: 3px solid var(--menu-text-hover);
  border-radius:7px;
  background-color: rgba(255,255,255,0.3);
  margin:10px 12px 12px 5px;
  padding:7px;
  box-shadow: 7px 7px var(--menu-shadow);
} */

.wrapper > aside {
  background-color: var(--dark-accent);
  color: #fff;
  border: 4px double var(--menu-text);  
}

.wrapper > section {
  color: #033;
  background-color: var(--menu-background);
  border: 3px solid var(--menu-text-hover);
  box-shadow: 5px 5px var(--menu-shadow);
}
